* {
  box-sizing: border-box;
}

table {
  background-color: #000;
  border-spacing: 1px;
  width: 100%;
}

th,
td {
  background-color: #fff;
}

.tableContainer {
  height: 60vh;
  overflow-y: scroll;
  margin: 9px 9px 100px 9px;
}

button {
  border: none;
  background-color: transparent;
  cursor: grab;
}

ul {
  height: 60vh;
  overflow-y: scroll;
  margin: 0 9px 9px 9px;
  padding: 0;
  list-style: none;
}

li {
  border: #000 solid 1px;
  background-color: #000;
  color: white;
  display: flex;
  gap: 1rem;
}

li > span {
  padding: 9px;
}
